{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bikes</title>
    <link href="{% static 'img/logo.png' %}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'style/bikes.css' %}" />

    <script src="{% static 'js/jquery.js.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/product.js' %}"></script>
</head>

<body class="container-fluid" id="body">
    <div class="row" style="height: 100px;">
        <div class="col-sm-4">
            <a href="{% url 'contact' %}"> <img src="{% static 'img/contact.png' %}" id="contact" /> </a>
            <a href="{% url 'index' %}" > <img src="{% static 'img/home.png' %}" id="homelink"/> </a>
            <a href="{% url 'cart' %}" > <img src="{% static 'img/cart.png' %}" id="cart"/> </a>
        </div>
        <div class="col-sm-4">
            <a href="{% url 'index' %}"><img src="{% static 'img/header.png' %}" /></a>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div style="margin-left:33%; text-align: center;" class="col-sm-4">
            <p>{{ message }}</p>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8" style="background-color: rgb(85, 181, 194); height: 840px;">
                  <form action="{% url 'bikes' %}" method="get">
                    <h3 style="margin-left: 45px; margin-top: 50px;">Brands</h3>
                    <p style="margin-top: 20px;">  <input type="checkbox" />  Merida </p>
                    <p style="margin-top: 20px;">  <input type="checkbox" />  Trek </p>
                    <p style="margin-top: 20px;">  <input type="checkbox" />  Cannondale </p>
                    <p style="margin-top: 20px;"> <input type="checkbox" />  Kona </p>
                    <p style="margin-top: 20px;"> <input type="checkbox" />  Scott </p>
                    <p style="margin-top: 20px;"> <input type="checkbox" />  Marin </p>

                    <h3 style="margin-left: 45px; margin-top: 80px;">Size</h3>
                    <p style="margin-top: 20px;">  <input type="checkbox" />  12 </p>
                    <p style="margin-top: 20px;">  <input type="checkbox" />  16 </p>
                    <p style="margin-top: 20px;">  <input type="checkbox" />  20 </p>
                    <p style="margin-top: 20px;"> <input type="checkbox" />  24 </p>
                    <p style="margin-top: 20px;"> <input type="checkbox" />  26 </p>
                    <br>
                    <input type="submit" name="" value="Filter">
                  </form>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

        <div class="col-sm-8" id="list">
            <div class="row" style="height: 50px;"> <br/> </div>
            <div style="margin-right: 5%;" class="row" >

                {% for bike in bikes %}

                <div class="col-sm-1"></div>
                <div style="margin-top: 1%;"  class="col-sm-2" id="prd">
                    <a href="{{ bike.id }}/"> <img src="{{ bike.img1.url }}" id="b"/></a>
                    <p style="text-align: center;">{{ bike.title }}</p>
                </div>

                {% endfor %}

            </div>
            <div class="row" style="height: 50px;"> <br/> </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</body>
</html>
