{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href="{% static 'img/logo.png' %}" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'style/Cart.css' %}" />

    <script src="{% static 'js/bootstrap.min.js' %}"> </script>
    <script src="{% static 'js/jquery.js.js' %}"> </script>
</head>

<body class="container-fluid" id="body">
    <div class="row" style="height: 100px;">
        <div class="col-sm-4">
            <a href="{% url 'exit' %}" > <img src="{% static 'img/exit.png' %}" id="cart"/> </a>
            <a href="{% url 'contact' %}"> <img src="{% static 'img/contact.png' %}" id="contact" /> </a>
            <a href="{% url 'index' %}" > <img src="{% static 'img/home.png' %}" id="homelink"/> </a>
            <a href="{% url 'cart' %}" > <img src="{% static 'img/cart.png' %}" id="cart"/> </a>
        </div>
        <div class="col-sm-4">
          <a href="{% url 'index' %}"><img src="{% static 'img/header.png' %}" id="header" /></a>
        </div>

        <div style="margin-left:33%; text-align: center;" class="col-sm-4">
            <p>{{ message }}</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" id="recipt">
            <div class="row">
                    {% for cart in cart_bikes %}
                    <div class="col-sm-3" id="pro">
                        <h3>Product</h3>
                        <hr/>
                        <h6>{{ cart.bike.title }}</h6>
                        <hr/>
                        <br/> <br/>
                    </div>
                    <div class="col-sm-3" id="num">
                        <h3>Number</h3>
                        <hr/>
                        <h4>{{ cart.number_products }}</h4>
                        <hr/>
                    </div>
                    <div class="col-sm-3" id="unique">
                        <h4>UnitPrice</h4>
                        <hr/>
                        <h4>{{ cart.bike.price }}</h4>
                        <hr/>
                    </div>
                    <div class="col-sm-3" id="sum">
                        <h4>TotalPrice</h4>
                        <hr/>
                        <h4>{{ cart.bike.price|mul:cart.number_products }}</h4>
                        <hr/>
                    </div>
                    {% endfor %}
            </div>

            <div class="row">
                    {% for cart in cart_accessories %}
                    <div class="col-sm-3" id="pro">
                        <h3>Product</h3>
                        <hr/>
                        <h6>{{ cart.accessories.title }}</h6>
                        <hr/>
                        <br/> <br/>
                    </div>
                    <div class="col-sm-3" id="num">
                        <h3>Number</h3>
                        <hr/>
                        <h4>{{ cart.number_products }}</h4>
                        <hr/>
                    </div>
                    <div class="col-sm-3" id="unique">
                        <h4>UnitPrice</h4>
                        <hr/>
                        <h4>{{ cart.accessories.price }}</h4>
                        <hr/>
                    </div>
                    <div class="col-sm-3" id="sum">
                        <h4>TotalPrice</h4>
                        <hr/>
                        <h4>{{ cart.accessories.price|mul:cart.number_products }}</h4>
                        <hr/>
                    </div>
                    {% endfor %}
            </div>

        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h2>Final Fee: {{ final_fee }} </h2>
            <input type="submit" value="Pay" id="pay"/>
        </div>
        <div class="col-sm-4" style="margin-left:33%; text-align: center;">
            <form method="get" action="{% url 'cart' %}">
                <label style="" for="bikes">Choose a bike to remove:</label>
                <select name="bikes" id="bikes">
                {% for cart in cart_bikes %}
                <option value={{ cart.bike.id }}>{{ cart.bike }}</option>
                {% endfor %}
                {% for cart in cart_accessories %}
                <option value={{ cart.accessories.id }}>{{ cart.accessories }}</option>
                {% endfor %}
                </select>
                <br><br>
                <input id="pay" type="submit" value="Remove">
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>

</body>
</html>
